<form class="clients" role="form">
    <h2 class="form-login-heading">Clients</h2>
    <input type="number" class="form-control" placeholder="id" data-ng-model="clientModel.id" autofocus>
    <button class="btn-info " type="submit" data-ng-click="GetClients()">Search</button>
    <div data-ng-hide="message == ''" class="alert alert-danger">
        {{message}}
    </div>

    <div data-ng-show="clientsCount > 0">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Идентификатор Name</th>
                    <th>Секрет</th>
                    <th>Callback</th>
                    <th>Logout Page</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tr data-ng-repeat="item in clients">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.identifier}}</td>
                <td>{{item.secret}}</td>
                <td>{{item.callback}}</td>
                <td>{{item.logoutPage}}</td>
                <td>{{item.description}}</td>
            </tr>
        </table>
    </div>

</form>