IdentityServer/IdentityServer/bin/
IdentityServer/IdentityServer/obj/
IdentityServer/IdentityServer/packages/

IdentityServer/IdentityServer.Data/bin/
IdentityServer/IdentityServer.Data/obj/
IdentityServer/IdentityServer.Data/packages/

IdentityServer/IdentityServer.AuthorizationProvider/bin/
IdentityServer/IdentityServer.AuthorizationProvider/obj/
IdentityServer/IdentityServer.AuthorizationProvider/packages/

IdentityServer/IdentityServer.Core/bin/
IdentityServer/IdentityServer.Core/obj/
IdentityServer/IdentityServer.Core/packages/

IdentityServer/IdentityServer.TokenProvider/bin/
IdentityServer/IdentityServer.TokenProvider/obj/
IdentityServer/IdentityServer.TokenProvider/packages/

IdentityServer/IdentityServer.AuthorizationProvider.TestProvider/bin/
IdentityServer/IdentityServer.AuthorizationProvider.TestProvider/obj/
IdentityServer/IdentityServer.AuthorizationProvider.TestProvider/packages/

IdentityServer/IdentityServer.AuthorizationProvider.TestProviderTests/bin/
IdentityServer/IdentityServer.AuthorizationProvider.TestProviderTests/obj/
IdentityServer/IdentityServer.AuthorizationProvider.TestProviderTests/packages/


IdentityServer/IdentityServer.AuthorizationProvider.NetIdentity/bin/
IdentityServer/IdentityServer.AuthorizationProvider.NetIdentity/obj/
IdentityServer/IdentityServer.AuthorizationProvider.NetIdentity/packages/


IdentityServer/IdentityServer.Web/node_modules/
IdentityServer/IdentityServer.Web/bin/
IdentityServer/IdentityServer.Web/obj/
IdentityServer/packages/
IdentityServer/IdentityServer.Data/obj/
IdentityServer/IdentityServer/obj/
IdentityServer/IdentutyServer.Web/node_modules/
IdentityServer/IdentutyServer.Web/obj/
IdentityServer/IdentutyServer.Web/bin/
IdentityServer/IdentutyServer.Web/\*.js
IdentityServer/IdentutyServer.Web/\*.map

npm-debug.log
IdentityServer/IdentityServer.AuthorizationProvider.NetIdentityTests/bin/
IdentityServer/IdentityServer.AuthorizationProvider.NetIdentityTests/obj/

IdentityServer/.vs/

/bin/
/packages/
/obj/

