IdentityServer/IdentityServer/bin/
IdentityServer/IdentityServer/obj/
IdentityServer/IdentityServer/packages/

IdentityServer/IdentityServer.Data/bin/
IdentityServer/IdentityServer.Data/obj/
IdentityServer/IdentityServer.Data/packages/

IdentityServer/IdentityServer.AuthorizationProvider/bin/
IdentityServer/IdentityServer.AuthorizationProvider/obj/
IdentityServer/IdentityServer.AuthorizationProvider/packages/

IdentityServer/IdentityServer.Core/bin/
IdentityServer/IdentityServer.Core/obj/
IdentityServer/IdentityServer.Core/packages/

IdentityServer/IdentityServer.AuthorizationProvider.ApsNetIdenityEf/bin/
IdentityServer/IdentityServer.AuthorizationProvider.ApsNetIdenityEf/obj/
IdentityServer/IdentityServer.AuthorizationProvider.ApsNetIdenityEf/packages/

IdentityServer/IdentityServer.Web/node_modules/
IdentityServer/IdentityServer.Web/bin/
IdentityServer/IdentityServer.Web/obj/
IdentityServer/packages/
IdentityServer/IdentityServer.Data/obj/
IdentityServer/IdentityServer/obj/
IdentityServer/IdentutyServer.Web/node_modules/
IdentityServer/IdentutyServer.Web/obj/
IdentityServer/IdentutyServer.Web/bin/
npm-debug.log
