<div class="col-md-18 width-70">
    <h4 class="pull-left">Clients</h4>
    <button type="button" class="btn btn-success btn-md pull-right" [routerLink]="['client']" [queryParams]="{'id': null}">
        <span class="glyphicon glyphicon-plus pull-right"></span>
    </button>
   
    <table class="panel-body table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>ClientId</th>
                <th>Secret</th>
                <th>Callback</th>
                <th>Logout callback</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr *ngFor="let client of clients">
            <td>{{client.id}}</td>
            <td>{{client.name}}</td>
            <td>{{client.identifier}}</td>
            <td>{{client.secret}}</td>
            <td>{{client.callback}}</td>
            <td>{{client.logoutPage}}</td>
            <td>{{client.description}}</td>
            <td><a [routerLink]="['client']" [queryParams]="{'id': client.id}">Edit</a> | <a (click)="deleteClient(client.id)">Delete</a></td>
        </tr>
    </table>
</div>